body{
    background: gray;
    text-align: center;
    margin: 200px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}
.choices{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.box{
    /* border: 1px solid black; */
    height: 250px;
    width: 250px;
}
img{
    border-radius: 50%;
}
